/* Wraps */

	.site-container {
	  width: 100%;

	}

	.wrap {
	  margin: 0 auto;
	  // max-width: 1152px;
	  max-width: 1000px;
	}

	.site-inner {
		@include clearfix;
		@include rem(padding-top, 15px);
	}
	

/* Containers and Columns */

	.content-sidebar-sidebar .sidebar-secondary,
	.sidebar-content .content,
	.sidebar-content-sidebar .content-sidebar-wrap,
	.sidebar-sidebar-content .content,
	.sidebar-sidebar-content .content-sidebar-wrap,
	.site-footer .creds,
	.site-header .widget-area,
	.sidebar-content-sidebar .sidebar-primary {
		float: right;
	}

	.five-sixths,
	.content-sidebar-sidebar .sidebar-primary,
	.four-fifths,
	.four-sixths,
	.one-fifth,
	.one-fourth,
	.one-half,
	.one-sixth,
	.one-third,
	.three-fifths,
	.three-fourths,
	.three-sixths,
	.two-fifths,
	.two-fourths,
	.two-sixths,
	.two-thirds,
	.sidebar-content .sidebar-primary,
	.sidebar-sidebar-content .sidebar-primary,
	.content-sidebar-sidebar .content,
	.site-footer .gototop,
	.sidebar-secondary,
	.title-area,
	.archive-page,
	.content-sidebar .content,
	.content-sidebar .sidebar-primary,
	.sidebar-content-sidebar .sidebar-secondary,
	.content-sidebar-sidebar .content,
	.sidebar-content-sidebar .content
	{
		float: left;
		//margin-left: percentage(48px / 1152px); /* 48px / 1152px */
		margin-left: percentage(14px / 1000px); /* 48px / 1152px */
	}



	.one-half,
	.three-sixths,
	.two-fourths,
	.content-sidebar-sidebar .content,
	.archive-page
	 {
		width: percentage(552px / 1152px); /* 552px / 1152px */
	}

	.one-third,
	.two-sixths,
	.content-sidebar .sidebar-primary,
	.sidebar-content .sidebar-primary,
	.content-sidebar-sidebar .sidebar-primary,
	.sidebar-content-sidebar .sidebar-primary,
	.sidebar-sidebar-content .sidebar-primary,
	.title-area {
		//width: percentage(352px / 1152px); /* 352px / 1152px */
		width: percentage(429px / 1000px);
	}

	.four-sixths,
	.two-thirds,
	.content-sidebar .content,
	.sidebar-content .content,
	.sidebar-content-sidebar .content,
	.sidebar-sidebar-content .content {
		//width: percentage(752px / 1152px); /* 752px / 1152px */
		width: percentage(557px / 1000px); /* 752px / 1152px */
	}

	.site-header .widget-area {
		width: percentage(460px / 1000px);
	}

	.one-fourth {
		width: percentage(252px / 1152px); /* 252px / 1152px */
	}

	.three-fourths {
		width: percentage(852px / 1152px); /* 852px / 1152px */
	}

	.one-fifth {
		width: percentage(192px / 1152px); /* 192px / 1152px */
	}

	.two-fifths{
		width: percentage(432px / 1152px); /* 432px / 1152px */
	}

	.three-fifths {
		width: percentage(672px / 1152px); /* 672px / 1152px */
	}

	.four-fifths {
		width: percentage(912px / 1152px); /* 912px / 1152px */
	}

	.one-sixth, 
	.sidebar-secondary {
		width: percentage(152px / 1152px); /* 152px / 1152px */
	}

	.five-sixths,
	.sidebar-content-sidebar .content-sidebar-wrap,
	.sidebar-sidebar-content .content-sidebar-wrap {
		width: percentage(952px / 1152px); /* 952px / 1152px */
	}

	.first, 
	.content-sidebar-sidebar .content,
	.sidebar-content-sidebar .sidebar-secondary,
	.sidebar-sidebar-content .sidebar-secondary,
	.title-area,
	.content-sidebar .content,
	.sidebar-content .sidebar-primary,
	.sidebar-content-sidebar .content,
	.sidebar-sidebar-content .sidebar-primary {
		margin-left: 0;
		clear:both;
	}

	.sidebar-content .sidebar-primary,
	.sidebar-content-sidebar .sidebar-secondary,
	.sidebar-sidebar-content .sidebar-secondary,
	.sidebar-sidebar-content .sidebar-primary {
		clear: none;
	}

	.archive-page {
		margin-left:0;
	}



/* Entry Content Structure */
.home main.content {
	background-color: #fff;
	border: 0;
	padding: 0;
}

main.content {
	background-color: #F2F2F2;
	border: 1px solid #d0d0d0;
	@include rem(border-radius, 5px);
	@include rem(margin-bottom, 20px);
	@include rem(padding, 20px 15px);

	@media only screen and (min-width: 992px) {
		margin-bottom: 0;
	}
}

.page .entry {
	margin: 0;
}

.entry-content {
	overflow: hidden;
}

.back-to-articles {
	margin-bottom: 20px;
}

.entry-date {
	color: #000;
	@include rem(font-size, 10px);
}