.site-header {
	border-bottom: 1px solid #ccc;
	overflow: hidden;

	@media only screen and (min-width: 992px) {
		border-bottom: none;
	}

}

.site-title {
	@include rem(margin, 40px 0 8px);
	@include rem(font-size, 48px);
	
	a {
		color:$color-extra;

		&:hover { color: $color-cta; }
	}

	font-family: $googleFont;
	font-weight:700;
}

.header-image .title-area {
	background: url("images/logo.png") no-repeat;
	background-size: contain;
	@include rem(margin, 22px 0 19px 32px);

	@media only screen and (min-width: 768px) {
		background-size: auto;
	}
}

.header-image .site-title {
	margin: 0;
	text-indent: -9999px;
}

.site-description {
	line-height: 1.25;
	color: $color-extra;
}


.header-full-width .site-title,
.header-full-width .site-title a,
.header-full-width .title-area {
	width: 100%;
}

.header-image .site-title,
.header-image .site-title a,
.header-image .title-area {
	display: block;
	float: left;
	max-width: 500px;
	overflow: hidden;
	width: 100%;
}

.header-image .site-description {
	display: none;
}

.site-header .search-form {
	float: right;
	@include rem(margin-top, 56px);
	width: 100%;
}

.header-widget-area .content {
	padding-bottom: 0;
	width: 100%;
}