/* eNews */
.enews input[type="submit"],
.search-form input[type="submit"] {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/* Gravity Forms */
.content div.gform_wrapper input,
.content div.gform_wrapper select,
.content div.gform_wrapper textarea,
.content div.gform_wrapper .ginput_complex label {
	@include rem(font-size, 16px);
	@include rem(padding, 16px);
}

.content div.gform_wrapper input[type="submit"] {
	@include rem(padding, 16px 24px);
}

.content div.gform_wrapper .ginput_complex label {
	padding: 0;
}

div.gform_wrapper li,
div.gform_wrapper form li {
@include rem(margin, 16px 0 0);
}

// Frontpage Widget Area 
.home-widget .widget .content {
	width: 100%;
}

// Header Widget Area
.header-widget-area {
	display: none;

	@media only screen and (min-width: 992px) {
		display: block;
	}
	
}