@charset "UTF-8";
/*!
    Theme Name: Car Loan Market
    Description: A custom Genesis child theme for CarLoanMarket.com website.
    Author: Synergexis
    Author URI: http://www.synergexis.com/
 
    Version: 2.0
 
    Template: genesis
    Template Version: 2.0
 
    License: GPL-2.0+
    License URI: http://www.opensource.org/licenses/gpl-license.php 
*/
/* Table of Contents

    01 Import Fonts
    02 Base Styles 
        Defaults
        Wraps
        Containers and Columns
        Entry Content Structure
        Headings and Titles
  -- Layout --  
    03 Header
    04 Navigation
       Primary Navigation Extras
       Pagination
    05 Meta and Comments
        Post Info and Meta
        Comments
    06 Post Content Styles
        Block Quotes
        Lists
    07 SideBar
    08 SideBar Alt
    09 Footer
        Footer Widgets
        Footer Navigation
  -- Modules --
    10 Forms and Buttons
    11 Images and Captions
    12 Author Box / Bread Crumbs / Sticky
    13 Widgets/Plugins
        eNews
        Gravity Forms
*/
/*
01 Import Fonts
---------------------------------------------------------------------------------------------------- */
/*
02 Base Styles
---------------------------------------------------------------------------------------------------- */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2,
h3, h4, h5, h6, p, blockquote, a, abbr, acronym, address,
big, cite, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, input, menu,
nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

/* Clearfix */
.site-inner:after,
.home-middle:after,
.site-header:after,
.nav-primary:after,
.nav-secondary:after,
.wrap:after,
.footer-widgets:after,
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #fff;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.143;
  font-family: Verdana, Arial, sans-serif;
  color: #333;
}

p.pages,
.clear,
.clear-line {
  clear: both;
}

.clear-line {
  border-bottom: 1px solid #ccc;
  margin-bottom: 26px;
  margin-bottom: 2.6rem;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

a,
a:visited,
button,
input[type="button"],
input[type="submit"] {
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

::-moz-selection {
  background-color: #000D11;
  color: #fff;
}

::selection {
  background-color: #000D11;
  color: #fff;
}

a {
  color: #115688;
  text-decoration: underline;
}
a:hover, a:focus {
  color: #115688;
}

a img {
  border: none;
}

/* Wraps */
.site-container {
  width: 100%;
}

.wrap {
  margin: 0 auto;
  max-width: 1000px;
}

.site-inner {
  overflow: hidden;
  *zoom: 1;
  padding-top: 15px;
  padding-top: 1.5rem;
}

/* Containers and Columns */
.content-sidebar-sidebar .sidebar-secondary,
.sidebar-content .content,
.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content,
.sidebar-sidebar-content .content-sidebar-wrap,
.site-footer .creds,
.site-header .widget-area,
.sidebar-content-sidebar .sidebar-primary {
  float: right;
}

.five-sixths,
.content-sidebar-sidebar .sidebar-primary,
.four-fifths,
.four-sixths,
.one-fifth,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fifths,
.three-fourths,
.three-sixths,
.two-fifths,
.two-fourths,
.two-sixths,
.two-thirds,
.sidebar-content .sidebar-primary,
.sidebar-sidebar-content .sidebar-primary,
.content-sidebar-sidebar .content,
.site-footer .gototop,
.sidebar-secondary,
.title-area,
.archive-page,
.content-sidebar .content,
.content-sidebar .sidebar-primary,
.sidebar-content-sidebar .sidebar-secondary,
.content-sidebar-sidebar .content,
.sidebar-content-sidebar .content {
  float: left;
  margin-left: 1.4%;
  /* 48px / 1152px */
}

.one-half,
.three-sixths,
.two-fourths,
.content-sidebar-sidebar .content,
.archive-page {
  width: 47.91667%;
  /* 552px / 1152px */
}

.one-third,
.two-sixths,
.content-sidebar .sidebar-primary,
.sidebar-content .sidebar-primary,
.content-sidebar-sidebar .sidebar-primary,
.sidebar-content-sidebar .sidebar-primary,
.sidebar-sidebar-content .sidebar-primary,
.title-area {
  width: 42.9%;
}

.four-sixths,
.two-thirds,
.content-sidebar .content,
.sidebar-content .content,
.sidebar-content-sidebar .content,
.sidebar-sidebar-content .content {
  width: 55.7%;
  /* 752px / 1152px */
}

.site-header .widget-area {
  width: 46%;
}

.one-fourth {
  width: 21.875%;
  /* 252px / 1152px */
}

.three-fourths {
  width: 73.95833%;
  /* 852px / 1152px */
}

.one-fifth {
  width: 16.66667%;
  /* 192px / 1152px */
}

.two-fifths {
  width: 37.5%;
  /* 432px / 1152px */
}

.three-fifths {
  width: 58.33333%;
  /* 672px / 1152px */
}

.four-fifths {
  width: 79.16667%;
  /* 912px / 1152px */
}

.one-sixth,
.sidebar-secondary {
  width: 13.19444%;
  /* 152px / 1152px */
}

.five-sixths,
.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
  width: 82.63889%;
  /* 952px / 1152px */
}

.first,
.content-sidebar-sidebar .content,
.sidebar-content-sidebar .sidebar-secondary,
.sidebar-sidebar-content .sidebar-secondary,
.title-area,
.content-sidebar .content,
.sidebar-content .sidebar-primary,
.sidebar-content-sidebar .content,
.sidebar-sidebar-content .sidebar-primary {
  margin-left: 0;
  clear: both;
}

.sidebar-content .sidebar-primary,
.sidebar-content-sidebar .sidebar-secondary,
.sidebar-sidebar-content .sidebar-secondary,
.sidebar-sidebar-content .sidebar-primary {
  clear: none;
}

.archive-page {
  margin-left: 0;
}

/* Entry Content Structure */
.home main.content {
  background-color: #fff;
  border: 0;
  padding: 0;
}

main.content {
  background-color: #F2F2F2;
  border: 1px solid #d0d0d0;
  border-radius: 5px;
  border-radius: 0.5rem;
  margin-bottom: 20px;
  margin-bottom: 2rem;
  padding: 20px 15px;
  padding: 2rem 1.5rem;
}
@media only screen and (min-width: 992px) {
  main.content {
    margin-bottom: 0;
  }
}

.page .entry {
  margin: 0;
}

.entry-content {
  overflow: hidden;
}

.back-to-articles {
  margin-bottom: 20px;
}

.entry-date {
  color: #000;
  font-size: 10px;
  font-size: 1rem;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6,
.entry-title a,
.site-title {
  line-height: 1.2;
  margin-bottom: 16px;
  margin-bottom: 1.6rem;
  font-family: Verdana, Arial, sans-serif;
  font-weight: 700;
}

h1,
.entry-title,
.entry-title a,
.site-title {
  color: #959595;
  font-size: 30px;
  font-size: 3rem;
  margin-bottom: 20px;
  margin-bottom: 2rem;
}

/* Title Class for SEO / No Overuse of H Tags */
.title,
h2 {
  font-size: 28px;
  font-size: 2.8rem;
}

h2 a,
h2 a:visited {
  color: #3B3D42;
}
h2 a:hover,
h2 a:visited:hover {
  color: #2b4a5d;
}

h3 {
  font-size: 24px;
  font-size: 2.4rem;
}

h4,
.archive-title,
.taxonomy-description h1,
.widgettitle {
  font-size: 20px;
  font-size: 2rem;
}

h4.widgettitle a {
  color: #3E6B85;
}

h5 {
  font-size: 18px;
  font-size: 1.8rem;
}

h6,
.author-box h1,
.sidebar h2 a {
  font-size: 14px;
  font-size: 1.4rem;
}

.author-box h1 {
  margin: 0;
  line-height: 1.5;
}

.taxonomy-description h1 {
  margin-bottom: 4px;
  margin-bottom: 0.4rem;
}

.archive-title {
  margin-bottom: 24px;
  margin-bottom: 2.4rem;
}

/*********************************************************************************************

            LAYOUT

**********************************************************************************************/
/*
03 Header
---------------------------------------------------------------------------------------------------- */
.site-header {
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}
@media only screen and (min-width: 992px) {
  .site-header {
    border-bottom: none;
  }
}

.site-title {
  margin: 40px 0 8px;
  margin: 4rem 0 0.8rem;
  font-size: 48px;
  font-size: 4.8rem;
  font-family: Arimo, Varela, sans-serif;
  font-weight: 700;
}
.site-title a {
  color: #3B3D42;
}
.site-title a:hover {
  color: #3E6B85;
}

.header-image .title-area {
  background: url("images/logo.png") no-repeat;
  background-size: contain;
  margin: 22px 0 19px 32px;
  margin: 2.2rem 0 1.9rem 3.2rem;
}
@media only screen and (min-width: 768px) {
  .header-image .title-area {
    background-size: auto;
  }
}

.header-image .site-title {
  margin: 0;
  text-indent: -9999px;
}

.site-description {
  line-height: 1.25;
  color: #3B3D42;
}

.header-full-width .site-title,
.header-full-width .site-title a,
.header-full-width .title-area {
  width: 100%;
}

.header-image .site-title,
.header-image .site-title a,
.header-image .title-area {
  display: block;
  float: left;
  max-width: 500px;
  overflow: hidden;
  width: 100%;
}

.header-image .site-description {
  display: none;
}

.site-header .search-form {
  float: right;
  margin-top: 56px;
  margin-top: 5.6rem;
  width: 100%;
}

.header-widget-area .content {
  padding-bottom: 0;
  width: 100%;
}

/*
04 Navigation
---------------------------------------------------------------------------------------------------- */
.genesis-nav-menu {
  clear: both;
  color: #fff;
  font-family: Verdana, Arial, sans-serif;
  letter-spacing: 1px;
  letter-spacing: 0.1rem;
  line-height: 1.5;
  width: 100%;
}
.genesis-nav-menu .menu-item {
  display: inline-block;
  text-align: left;
}
.genesis-nav-menu a {
  border: none;
  color: #fff;
  display: block;
  padding: 28px 24px;
  padding: 2.8rem 2.4rem;
  position: relative;
}
.genesis-nav-menu a:hover {
  color: #000D11;
}
.genesis-nav-menu .sub-menu {
  left: -9999px;
  opacity: 0;
  position: absolute;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  width: 200px;
  z-index: 99;
}
.genesis-nav-menu .sub-menu a {
  background-color: #fff;
  border: 1px solid #eee;
  border-top: none;
  font-size: 14px;
  font-size: 1.4rem;
  letter-spacing: 0;
  padding: 16px 20px;
  padding: 1.6rem 2rem;
  position: relative;
  width: 200px;
}
.genesis-nav-menu .sub-menu .sub-menu {
  margin: -54px 0 0 199px;
}
.genesis-nav-menu .menu-item:hover {
  position: static;
}
.genesis-nav-menu .menu-item:hover > .sub-menu {
  left: auto;
  opacity: 1;
}
.genesis-nav-menu > .first > a {
  padding-left: 0;
}
.genesis-nav-menu > .last > a {
  padding-right: 0;
}
.genesis-nav-menu > .right {
  display: inline-block;
  float: right;
  list-style-type: none;
  padding: 28px 0;
  padding: 2.8rem 0;
  text-transform: uppercase;
}
.genesis-nav-menu > .right > a {
  display: inline;
  padding: 0;
}
.genesis-nav-menu > .rss > a {
  margin-left: 48px;
  margin-left: 4.8rem;
}
.genesis-nav-menu > .search {
  padding: 14px 0 0;
  padding: 1.4rem 0 0;
}

/* Site Header Navigation
--------------------------------------------- */
.site-header .genesis-nav-menu a {
  color: #000D11;
}

.site-header .sub-menu {
  border-top: 1px solid #eee;
}
.site-header .sub-menu .sub-menu {
  margin-top: -55px;
}

/* Primary Navigation
--------------------------------------------- */
.nav-primary .wrap {
  background: #82c6dc;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzgyYzZkYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwZjhlYjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #82c6dc 0%, #0f8eb8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #82c6dc), color-stop(100%, #0f8eb8));
  background: -webkit-linear-gradient(top, #82c6dc 0%, #0f8eb8 100%);
  background: -o-linear-gradient(top, #82c6dc 0%, #0f8eb8 100%);
  background: -ms-linear-gradient(top, #82c6dc 0%, #0f8eb8 100%);
  background: linear-gradient(to bottom, #82c6dc 0%, #0f8eb8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82c6dc', endColorstr='#0f8eb8',GradientType=0 );
  border: 1px solid #d0d0d0;
  border-radius: 5px;
}

.menu-primary {
  margin-left: 45px;
}
.menu-primary .menu-item {
  float: left;
}

.nav-primary a {
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
  letter-spacing: 0;
  padding: 7px 12px 8px;
  padding: 0.7rem 1.2rem 0.8rem;
  text-decoration: none;
}

.nav-primary a:hover,
.nav-primary .current-menu-item > a {
  color: #ff0000;
}

.nav-primary .sub-menu a {
  border: 1px solid #333;
}

.nav-primary .sub-menu a {
  background-color: #3B3D42;
}
.nav-primary .sub-menu a:hover {
  color: #fff;
}

/* Secondary Navigation
--------------------------------------------- */
.nav-secondary a {
  color: #000D11;
}

.nav-secondary .sub-menu {
  border-top: 1px solid #eee;
}
.nav-secondary .sub-menu .sub-menu {
  margin-top: -55px;
}

/* Footer Navigation
--------------------------------------------- */
.menu-footer {
  margin-bottom: 5px;
  margin-bottom: 0.5rem;
}
.menu-footer:after {
  clear: both;
  content: " ";
  display: table;
}
.menu-footer .menu-item {
  float: left;
}
.menu-footer .menu-item a {
  color: #7d7d7d;
  display: inline-block;
  font-family: Arial, sans-serif;
  font-size: 9px;
  font-size: 0.9rem;
  letter-spacing: 0;
  padding: 0;
  text-decoration: none;
}
.menu-footer .menu-item a:hover {
  color: #7d7d7d;
  text-decoration: underline;
}
.menu-footer .menu-item:after {
  color: #7d7d7d;
  content: "/";
  display: inline;
  font-size: 9px;
  padding-left: 3px;
  padding-right: 3px;
}
.menu-footer .menu-item:last-child:after {
  content: " ";
}

/* Mobile Menu */
.genesis-nav-menu.menu-mobile {
  display: none;
}
.genesis-nav-menu.menu-mobile .menu-item {
  display: block;
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 14px;
}
.genesis-nav-menu.menu-mobile .menu-item:hover {
  position: static;
  display: block;
}
.genesis-nav-menu.menu-mobile .menu-item:hover > .sub-menu {
  font-size: 14px;
  display: block;
}
.genesis-nav-menu.menu-mobile .current-menu-item a {
  color: #ff0000;
}
.genesis-nav-menu.menu-mobile a {
  color: #fff;
  display: block;
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 10px 20px;
  padding: 1rem 2rem;
  position: relative;
  text-decoration: none;
}
.genesis-nav-menu.menu-mobile a:hover {
  color: #ff0000;
}
.genesis-nav-menu.menu-mobile .sub-menu {
  left: 0;
  margin: 0;
  opacity: 1;
  padding: 0;
  position: relative;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  width: 100%;
  z-index: 99;
  display: none;
  background-color: #666666;
}
.genesis-nav-menu.menu-mobile .sub-menu .sub-menu {
  margin: 0 0 0 10px;
}

/*  Primary Navigation Extras */
.genesis-nav-menu li.right {
  float: right;
  padding: 24px 20px;
  padding: 2.4rem 2rem;
  list-style-type: none;
}

.genesis-nav-menu li.right a {
  display: inline;
  padding: 0;
}

.genesis-nav-menu li.search {
  padding: 6px 0 0;
  padding: 0.6rem 0 0;
}

.genesis-nav-menu li.rss a {
  background: url(images/rss.png) no-repeat center left;
  margin-left: 20px;
  margin-left: 2rem;
  padding-left: 20px;
  padding-left: 2rem;
}

.genesis-nav-menu li.twitter a {
  background: url(images/twitter-nav.png) no-repeat center left;
  padding-left: 24px;
  padding-left: 2.4rem;
}

/* Pagination */
.archive-pagination li {
  display: inline;
}

.archive-pagination li a,
.archive-pagination li a:hover,
.archive-pagination li.active a,
.archive-pagination li.disabled {
  background-color: #4c5558;
  border-radius: 3px;
  cursor: pointer;
  padding: 12px;
  padding: 1.2rem;
  color: #fff;
}

.archive-pagination li a:hover,
.archive-pagination li.active a {
  background-color: #fff;
  color: #000D11;
}

.portfolio-widgetized .archive-pagination {
  clear: both;
}

/*
05 Meta and Comments
---------------------------------------------------------------------------------------------------- */
/* Post Info and Meta */
.entry-meta {
  clear: both;
  line-height: 1.5;
  color: #4c4c4c;
  /*@include rem(font-size, 14px)*/
}

.entry-header .entry-meta {
  margin-bottom: 24px;
  margin-bottom: 2.4rem;
}

.entry-footer .entry-meta {
  border-top: 1px solid #ccc;
  padding-top: 24px;
  padding-top: 2.4rem;
}

.entry-meta .entry-comments {
  background: url(images/post-comments.png) no-repeat center left;
  margin-left: 16px;
  margin-left: 1.6rem;
  padding-left: 20px;
  padding-left: 2rem;
  color: #333;
}

.entry-categories,
.entry-tags {
  display: block;
}

.entry-time {
  color: #000D11;
}

/* Comments */
.entry-comments,
#respond {
  line-height: 1.5;
  overflow: hidden;
}

.ping-list,
.entry-comments {
  margin-bottom: 48px;
  margin-bottom: 4.8rem;
}

.comment-form-author,
.comment-form-email,
.comment-form-url {
  width: 50%;
}

.commentmetadata,
.comment-form-author,
.comment-form-email,
.comment-form-url {
  margin-bottom: 12px;
  margin-bottom: 1.2rem;
}

.comment-form-comment {
  margin: 12px 0;
  margin: 1.2rem 0;
}

/*label {
	margin-left: 12px;
	@include rem(margin-left, 12);
}*/
.comment-list li,
.ping-list li {
  list-style-type: none;
  margin-top: 24px;
  margin-top: 2.4rem;
  padding: 32px;
  padding: 3.2rem;
  border-radius: 10px;
}

.comment-list li ul li {
  margin-right: -32px;
  margin-right: -3.2rem;
}

.comment-header {
  overflow: hidden;
}

.comment {
  background-color: #f4f4f4;
  border: 1px solid #e5e5e5;
}

.comment-content p {
  margin-bottom: 24px;
  margin-bottom: 2.4rem;
}

.entry-comments .navigation {
  margin-top: 32px;
  margin-top: 3.2rem;
}

.comment-list li .avatar {
  float: left;
  margin: 0 16px 24px 0;
  margin: 0 1.6rem 2.4rem 0;
  border-radius: 8px;
}

/*
06 Post Content Styles
---------------------------------------------------------------------------------------------------- */
.entry-content p {
  margin-bottom: 26px;
  margin-bottom: 2.6rem;
}

/* After Post */
.after-post {
  background: #f2f2f2;
  border: 1px solid #d8d8d8;
  padding: 10px;
  padding: 1rem;
  margin-bottom: 50px;
  margin-bottom: 5rem;
}

/* Blockquotes */
blockquote {
  padding: 24px 64px;
  padding: 2.4rem 6.4rem;
}

blockquote::before {
  content: "ΓÇ£";
  display: block;
  height: 0;
  left: -20px;
  position: relative;
  top: -10px;
}

blockquote::before,
blockquote p {
  color: #7f7f7f;
}

blockquote::before {
  font-size: 45px;
  font-size: 4.5rem;
  line-height: 58px;
  line-height: 5.8rem;
}

/* Lists */
.entry-content ol,
.entry-content ul {
  margin-bottom: 26px;
  margin-bottom: 2.6rem;
}

.entry-content ol li,
.entry-content ul li {
  line-height: 1.625;
  margin-left: 40px;
  margin-left: 4rem;
}

.entry-content ol li {
  list-style-type: decimal;
}

.entry-content ul li {
  list-style-type: disc;
}

.entry-content ol ol,
.entry-content ul ul {
  margin-bottom: 0;
}

.list-bullet-red li {
  background: url("images/dot.png") no-repeat scroll left center;
  padding-left: 20px;
  padding-left: 2rem;
}

.frontpage-list > li > h2 {
  color: #545454;
  font-size: 17px;
  font-size: 1.7rem;
}

.step {
  display: block;
  margin-right: 10px;
  margin-right: 1rem;
  max-width: 162px;
  max-width: 16.2rem;
  padding-right: 25px;
  padding-right: 2.5rem;
  vertical-align: top;
  width: 100%;
}
@media only screen and (min-width: 640px) {
  .step {
    background: url("images/arrowr.png") no-repeat scroll right 30%;
    display: inline-block;
  }
}

.step-3 {
  background: none;
  margin-right: 0;
}

.panel-step {
  background: #e4e4e4;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U0ZTRlNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left, #e4e4e4 0%, #f2f2f2 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #e4e4e4), color-stop(100%, #f2f2f2));
  background: -webkit-linear-gradient(left, #e4e4e4 0%, #f2f2f2 100%);
  background: -o-linear-gradient(left, #e4e4e4 0%, #f2f2f2 100%);
  background: -ms-linear-gradient(left, #e4e4e4 0%, #f2f2f2 100%);
  background: linear-gradient(to right, #e4e4e4 0%, #f2f2f2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e4e4', endColorstr='#f2f2f2',GradientType=1 );
  border: 1px solid #d0d0d0;
}
.panel-step .panel-body {
  padding: 18px;
  padding: 1.8rem;
}
.panel-step .panel-body .step-title {
  color: #339fc3;
  font-size: 21px;
  font-size: 2.1rem;
  margin-bottom: 0;
}
.panel-step .panel-body p {
  color: #000000;
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 16px;
  line-height: 1.6rem;
  margin-bottom: 0;
}

/*
07 Sidebar
---------------------------------------------------------------------------------------------------- */
.sidebar {
  display: inline;
  line-height: 1.5;
}
.sidebar h1, .sidebar h2, .sidebar h3, .sidebar h4, .sidebar h5, .sidebar h6 {
  color: #626262;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: normal;
}

.sidebar .content {
  width: 100%;
}

.sidebar p {
  margin-bottom: 16px;
  margin-bottom: 1.6rem;
}

.sidebar section.widget {
  margin-bottom: 10px;
  margin-bottom: 1rem;
  overflow: hidden;
}

.sidebar.widget-area ul li {
  list-style-type: none;
  margin-bottom: 6px;
  margin-bottom: 0.6rem;
  word-wrap: break-word;
}

.panel-apply-form .panel-heading {
  background: #96d7ed;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk2ZDdlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwZjhkYjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #96d7ed 0%, #0f8db7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #96d7ed), color-stop(100%, #0f8db7));
  background: -webkit-linear-gradient(top, #96d7ed 0%, #0f8db7 100%);
  background: -o-linear-gradient(top, #96d7ed 0%, #0f8db7 100%);
  background: -ms-linear-gradient(top, #96d7ed 0%, #0f8db7 100%);
  background: linear-gradient(to bottom, #96d7ed 0%, #0f8db7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96d7ed', endColorstr='#0f8db7',GradientType=0 );
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}
.panel-apply-form .panel-heading .panel-title {
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-size: 2rem;
  line-height: 35px;
  line-height: 3.5rem;
  text-shadow: -2px 2px 5px #000000;
}
@media only screen and (min-width: 992px) {
  .panel-apply-form .panel-heading .panel-title {
    background: url("images/Home2EnterZipHead.png") no-repeat;
    border-radius: 4px 4px 0 0;
    text-indent: -9999px;
    text-indent: -999.9rem;
  }
}
.panel-apply-form .panel-body {
  background: #95d7ed;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk1ZDdlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwZThkYjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #95d7ed 0%, #0e8db7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #95d7ed), color-stop(100%, #0e8db7));
  background: -webkit-linear-gradient(top, #95d7ed 0%, #0e8db7 100%);
  background: -o-linear-gradient(top, #95d7ed 0%, #0e8db7 100%);
  background: -ms-linear-gradient(top, #95d7ed 0%, #0e8db7 100%);
  background: linear-gradient(to bottom, #95d7ed 0%, #0e8db7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#95d7ed', endColorstr='#0e8db7',GradientType=0 );
  border-radius: 0 0 4px 4px;
}
@media only screen and (min-width: 992px) {
  .panel-apply-form .panel-body {
    background: url("images/Home2EnterZipBg.png") no-repeat;
    height: 172px;
    height: 17.2rem;
  }
}
.panel-apply-form .panel-body .col-sm-* {
  padding-left: 0;
  padding-right: 0;
}
.panel-apply-form .panel-body .control-label {
  color: #231f20;
  font-size: 12px;
  font-size: 1.2rem;
  padding-top: 4px;
  padding-top: 0.4rem;
  padding-right: 0;
}
.panel-apply-form .panel-body .form-control {
  border: 1px solid #abadb3;
  border-radius: 0;
  color: #000;
  font-size: 13px;
  font-size: 1.3rem;
  height: 22px;
  height: 2.2rem;
  padding: 0;
}
@media only screen and (min-width: 1024px) {
  .panel-apply-form .panel-body .form-control {
    margin-left: -5px;
    margin-left: -0.5rem;
  }
}

/*
08 Sidebar Alt
---------------------------------------------------------------------------------------------------- */
/* SideBar Alt Styles */
/*
09 Footer
---------------------------------------------------------------------------------------------------- */
/*
Site Footer
---------------------------------------------------------------------------------------------------- */
.site-footer {
  clear: both;
  margin: 8px 0;
  margin: 0.8rem 0;
}

.site-footer .wrap {
  overflow: hidden;
  padding-left: 10px;
  padding-left: 1rem;
  padding-right: 10px;
  padding-right: 1rem;
}
@media only screen and (min-width: 992px) {
  .site-footer .wrap {
    padding-left: 0;
    padding-right: 0;
  }
}

.social-buttons {
  margin-bottom: 10px;
  margin-bottom: 1rem;
}
.social-buttons span {
  vertical-align: top;
}

.copyright {
  color: #7d7d7d;
  font-size: 9px;
  font-size: 0.9rem;
}

.geotrust-bbb-buttons {
  text-align: center;
}
@media only screen and (min-width: 992px) {
  .geotrust-bbb-buttons {
    text-align: right;
  }
}

.resource-links {
  margin-bottom: 30px;
  margin-bottom: 3rem;
  margin-top: 30px;
  margin-top: 3rem;
}
.resource-links a {
  color: #7d7d7d;
  font-size: 10px;
  font-size: 1rem;
  line-height: 14px;
  text-decoration: underline;
}
.resource-links a:hover, .resource-links a:focus {
  color: #ff0000;
}

/* Footer Widgets */
.footer-widgets {
  border-top: 1px solid #7f8688;
  clear: both;
  line-height: 1.5;
  overflow: hidden;
  padding: 32px 0 16px;
  padding: 3.2rem 0 1.6rem;
  background-color: #f2f2f2;
  margin-bottom: 10px;
}
.footer-widgets p {
  margin-bottom: 16px;
  margin-bottom: 1.6rem;
}
.footer-widgets .widget {
  margin-bottom: 24px;
  margin-bottom: 2.4rem;
}
.footer-widgets .widget-area ul li {
  list-style-type: none;
  margin-bottom: 6px;
  margin-bottom: 0.6rem;
  word-wrap: break-word;
}

.footer-widgets .wrap > div {
  display: table-cell;
}

.site-footer .entry {
  background: #e5e8ed;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U1ZThlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left, #e5e8ed 0%, #fbffff 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #e5e8ed), color-stop(100%, #fbffff));
  background: -webkit-linear-gradient(left, #e5e8ed 0%, #fbffff 100%);
  background: -o-linear-gradient(left, #e5e8ed 0%, #fbffff 100%);
  background: -ms-linear-gradient(left, #e5e8ed 0%, #fbffff 100%);
  background: linear-gradient(to right, #e5e8ed 0%, #fbffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e8ed', endColorstr='#fbffff',GradientType=1 );
  border: 1px solid #d7d8dd;
  border-radius: 4px;
  margin-top: 10px;
  margin-top: 1rem;
  padding: 10px;
  padding: 1rem;
}
@media only screen and (min-width: 992px) {
  .site-footer .entry {
    margin-bottom: 86px;
    margin-bottom: 8.6rem;
    margin-top: 20px;
    margin-top: 2rem;
    padding: 20px 57px;
    padding: 2rem 5.7rem;
  }
}
.site-footer .entry h1, .site-footer .entry h2, .site-footer .entry h3, .site-footer .entry h4, .site-footer .entry h5, .site-footer .entry h6 {
  color: #000;
  font-weight: normal;
  margin-bottom: 21px;
  margin-bottom: 2.1rem;
}
.site-footer .entry p {
  color: #7d7d7d;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 16px;
  margin-bottom: 20px;
  margin-bottom: 2rem;
}

/*********************************************************************************************

            MODULES

**********************************************************************************************/
/*
10 Forms and Buttons
---------------------------------------------------------------------------------------------------- */
input,
select,
textarea {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 0 0 5px #ddd inset;
  padding: 16px;
  padding: 1.6rem;
  width: 100%;
  color: #7f7f7f;
}

button,
input[type="button"],
input[type="submit"],
.btn {
  background-color: #4c5558;
  border: none;
  box-shadow: none;
  cursor: pointer;
  padding: 16px 24px;
  padding: 1.6rem 2.4rem;
  width: auto;
  color: #fff;
  font-size: inherit;
}

button:hover,
input:hover[type="button"],
input:hover[type="submit"],
.btn:hover {
  background-color: #2b4a5d;
}

.btn-apply-now {
  background: url("images/apply-now-button.png") no-repeat;
  text-indent: -9999px;
  text-indent: -999.9rem;
  height: 59px;
  box-shadow: 0 0 20px 2px #ffffff !important;
  width: 223px !important;
}
@media only screen and (min-width: 992px) {
  .btn-apply-now {
    margin-left: 172px;
  }
}

/*
11 Images and Captions
---------------------------------------------------------------------------------------------------- */
embed,
img,
object,
video {
  max-width: 100%;
}

img {
  height: auto;
}

.alignleft .avatar {
  margin-right: 24px;
  margin-right: 2.4rem;
}

.alignright .avatar {
  margin-left: 24px;
  margin-left: 2.4rem;
}

.author-box .avatar {
  float: left;
  margin-right: 24px;
  margin-right: 2.4rem;
}

img.centered,
.aligncenter {
  display: block;
  margin: 0 auto 24px;
  margin: 0 auto 2.4rem;
}

img.alignnone {
  display: inline;
  margin-bottom: 12px;
  margin-bottom: 1.2rem;
}

img.alignleft,
.post-image,
.wp-caption.alignleft {
  display: inline;
  margin: 0 24px 24px 0;
  margin: 0 2.4rem 2.4rem 0;
}

img.alignright,
.wp-caption.alignright {
  display: inline;
  margin: 0 0 24px 24px;
  margin: 0 0 2.4rem 2.4rem;
}

p.wp-caption-text {
  line-height: 1.2;
  margin-top: 12px;
  margin-top: 1.2rem;
}

.wp-caption {
  text-align: center;
}

/*
12 Author Box / Bread Crumbs / Sticky
---------------------------------------------------------------------------------------------------- */
.author-box,
.sticky {
  margin-bottom: 80px;
  margin-bottom: 8rem;
}

.author-box,
.taxonomy-description {
  line-height: 1.5;
}

.author-box,
.sticky,
.taxonomy-description {
  background-color: #f5f5f5;
  margin-bottom: 48px;
  margin-bottom: 4.8rem;
  overflow: hidden;
  padding: 32px;
  padding: 3.2rem;
}

.breadcrumb {
  background-color: #f5f5f5;
  margin-bottom: 10px;
  margin-bottom: 1rem;
  overflow: hidden;
  padding: 10px;
  padding: 1rem;
}

/*
13 Widgets/Plugins
---------------------------------------------------------------------------------------------------- */
/* eNews */
.enews input[type="submit"],
.search-form input[type="submit"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Gravity Forms */
.content div.gform_wrapper input,
.content div.gform_wrapper select,
.content div.gform_wrapper textarea,
.content div.gform_wrapper .ginput_complex label {
  font-size: 16px;
  font-size: 1.6rem;
  padding: 16px;
  padding: 1.6rem;
}

.content div.gform_wrapper input[type="submit"] {
  padding: 16px 24px;
  padding: 1.6rem 2.4rem;
}

.content div.gform_wrapper .ginput_complex label {
  padding: 0;
}

div.gform_wrapper li,
div.gform_wrapper form li {
  margin: 16px 0 0;
  margin: 1.6rem 0 0;
}

.home-widget .widget .content {
  width: 100%;
}

.header-widget-area {
  display: none;
}
@media only screen and (min-width: 992px) {
  .header-widget-area {
    display: block;
  }
}
